@media (max-width: 50%) {
    body {
      font-size: 50%;
    }
  }

  .search-form{
    margin-left: 10px;
  }

.main-menu{
    width: auto;

    height:100vh;
    margin-left: auto;
    overflow:auto;
        display: grid;
        grid-template-columns: 10%;
        grid-template-rows: 10%;
}

.menu-title1{

    border: 0.3px black solid;
    
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 10;
}
.menu-title2{

    border: 0.3px black solid;
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
}
.menu-title3{

    border: 0.3px black solid;
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 10;
}

.menu-title4{

    border: 0.3px rgb(15, 142, 151) solid;
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 10;
}

.menu-subject{
    font-size:20px;
    font-weight: bold;
    color: blue;
    margin-left:5px;
    background-color: rgb(243, 255, 114);
}

.menu-object, .menu-object2, .menu-object3 {
    font-size:15px;
    font-weight: bold;
    width: 100%;
    color: rgb(10, 0, 203);
    margin-left:15px;
    height:auto;
}



.category{
    height: 50%;
    margin-left:15px;
}
.categories a{
    margin-left:20px;
    display: block;
    margin-top: 5px;
}

.question p{
    margin-left:5px;
    margin-bottom: 3px;
    margin-top: 2px;

}

p{
    margin-left:5px;
    margin-bottom: 3px;
    margin-top: 2px;

}

.question {
    height: 30%;
    margin-left:5px;
    
}
.from-control{
    margin-left: 10px;
}

.btn{
    margin: 5px 10px 0 0;
}

.form-control{
    width: 85%;
}

p{
    margin-bottom: 2px;
}

.waku1{
    width:40%;
}
.waku2{
    width:8%;
    text-align: center;
}

.waku3{
    width:8%;
    text-align: center;
}

.waku4{
    width:8%;
    text-align: center;
}
.waku5{
    width:46%;
    text-align: center;
}

.sublist{
    background-color: bisque;
    margin-left: 15px;
    margin-right: 15px;
}
.whatnew{
    height:100%;
    margin-left: 20px;
    background-color: darkgreen;
}
.centerize{
    text-align: center;
}

.komoku{
    border-bottom: 1px solid #000;
    padding-top: 10px;
}

.komoku1{
    border-bottom: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;;
}

.myprofile{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
}

.form-check-label {
    display: inline-block;
    margin-right: 3px; /* ラベル間の間隔を調整 */
    font-size: 12px;
    cursor: pointer;
    padding:5px;
    border-radius: 20%;
    background-color: rgb(222, 236, 91);
  }
  .phrase{
    margin-bottom: 5px;
  }
  
  .form-check-inline {
    display: inline-block;
    margin-right: 3px; /* ラジオボタン間の間隔を調整 */
  }

  .form-check-input{
    display: none;

  }

  input[type="radio" i] {
    margin: 0;
    size: 100px;
  }



  .form-check-input:checked + .form-check-label {
    background-color: rgb(54, 161, 24);
    color: rgb(255, 255, 255); /* クリック時の色を設定 */
    font-weight: bolder;
  }

  .form-check {
    padding-left: 2px;
  }






