/* 全体のスタイル */
.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* 相対位置の指定を .top-wrapper に移動 */
  text-decoration: none;
  font-weight: bolder;
  flex-direction: row;
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  background-color: rgb(211, 211, 42);
  height: auto;
  padding: 10px 0 10px 0;
  justify-content: space-between; /
}


.blinking-text {
  font-size: 32px; /* モバイル時の文字サイズを変更 */
}

.overlay {
  position: absolute; /* .top-wrapper 要素に対しての絶対位置を設定 */
  top: 50%; /* 要素を縦方向の中央に配置 */
  left: 50%; /* 要素を横方向の中央に配置 */
  transform: translate(-50%, -50%); /* 中央に配置するための変形 */
  color: rgba(238, 39, 39, 0.5);
  font-size: 64px;
  font-weight: bold;
}
@font-face {
  font-family: 'Moyashimon'; /* フォントの名前 */
  src: url('../font/daiji_moyashimon.ttf') format('truetype'); /* フォントファイルへのパスと形式 */
  /* 他のフォント属性（font-weight、font-styleなど）も設定できます */
}
.yes{
  text-align: center;
  font-weight: 700;
  font-family: 'Moyashimon', sans-serif; /* 使用するカスタムフォントの指定 */
  
}



/* 投票者数のスタイル */
.accesscount {
  padding: 3px;
  background-color: #83830a;
  border: 2px solid #800020;
  border-radius: 8px;
  margin-left: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.accesscount p {
  margin-top: 2px;
  margin-bottom: 2px;font-size: 16px;
  padding: 0 5px 0 5px;
  color: white;

}

/* タイトルとメニューのスタイル */

.blinking-text {
  animation: blink 2s linear infinite;
}

.sub {
  font-size: 16px;
  text-align: center;
}

/* メニューのスタイル */
.member-menu {
  list-style: none;
  text-align: right;
  font-size: 16px;
  padding-right: 10px;
}



@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.main{
  height: 100vh;
}
.main-title{
      background-color: grey;
      width: 60%;
  }
.menus{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.side-menu{
  width: 20%;
  background-color: #f9ed8f;
  height: 100vh;
}
.main-menu{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post {
  width: 100%;
  height: auto;

}

.new {
  width: 100%;
  height: auto;
  
}

.categories a {
  display: block;
  margin-left: 15px;
  font-weight: 600;
}

.subtitle{
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  padding-left: 5px;
}
.subtitle p{
  font-weight: 800;
  padding-left: 5px;
}
.attention {
  color: rgb(210, 1, 1);
  text-align: center;
  font-weight: 300;

}
.fa-regular{
  margin-right: 5px;
}
.content{
  margin-bottom: 10px;
}

.btn-vote {
  text-align: right;
}

.btn-vote input[type="submit"] {
  margin-right: 20px;
}

.links{
  text-align: center;
  vertical-align: middle;
}

svg{
  width:20px;
  height: 20px;
}