/* app.welcome.css */

/* Add styles for the .top-wrapper */
.top-wrapper {
    position: relative;
    background-color: #effa53;
    padding: 0 5px; /* Set left and right padding */
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between; /* Add space between elements */
    align-items: center; /* Center items vertically */
  }
  
  /* Add media query for mobile devices */
@media screen and (max-width: 767px) {
    .top-wrapper {
      flex-direction: column; /* Stack elements vertically on mobile devices */
      align-items: center; /* Center elements horizontally */
      height: 300px; /* Reset the height to default or remove it */
       /* Reset the grid property */
    }
  
    .site-title {
      position: static; /* Reset position for mobile devices */
      font-size: 50%;
      display: block;
      border: 3px black solid;
      margin-bottom: 10px; /* Add some space between .site-title and .member-menu */
    }
  
    .member-menu {
      border: 3px black solid;
      display: block;
      margin-bottom: 10px; /* Add some space between .site-title and .member-menu */
    }
    .accesscount {
        border: 3px black solid;
        display: block;
      }
  }
  


  



  .accesscount {
  text-align: left;
  padding: 3px;
  background-color: #fdfdfd;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #555;
  font-size: 18px;
}

.accesscount p{
  margin-top: 3px;
}

  
  .site-title {

        text-decoration: none;
        color: #333;
        font-size: 24px;
        font-weight: bolder;
        position: absolute; /* Position the .site-title absolutely */
        top: 50%; /* Move the .site-title 50% from the top of the .top-wrapper */
        left: 50%; /* Move the .site-title 50% from the left of the .top-wrapper */
        transform: translate(-50%, -50%); /* Center the .site-title exactly in the middle */
  }
  
  
  .member-menu {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    margin-right: 5px;
    margin-top: 5px;
    list-style: none;
  }

  a {
    color: darkred;
  }
  
  .site-title {
    text-align: center;
  }
  
  .site-title p:first-child {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(167, 39, 39);

  }
  
  .site-title p:last-child {
    font-size: 20px;
  }
  
  .site-title p span {
    font-size: 25px;
  }
  
  .site-title .sub {
    font-size: 20px;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: bold;
    animation: blink 2s linear infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    80% {
      opacity: 0.5;
    }
  }

  .sub{
    margin-top: 2px;
  }

  .top-wrapper .accesscount {
    float: left;
  }
  
  .top-wrapper .member-menu {
    float: right;
  }
  