.question textarea{
  resize: none; /* ユーザーによるリサイズを無効化 */
  padding: 2px; /* 適宜パディングを調整 */
  width: 400px; /* 幅を1.5倍に設定 */
  border: 1px solid #ccc; /* ボーダーを指定 */
  border-radius: 4px; /* ボーダーの角を丸くする */
  font-size: 15px;
  height: 30px;
  margin-top: 5px;
  margin-left: 15px;
}
.phrase p{
  font-weight: bold;
  color: darkblue;
  margin-left: 15px;
}
.phrase{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.phrase p{
  margin-right: 20px;
}

input[type="radio" i] {
  margin: 0;
  
}

label{
  margin-right: 12px;
}

input[type="submit" i] {
  margin-left:15px;
}

.form-check-input, .btn-check{
  display: none;
}
.form-check-label, .btn-outline-danger{
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 8px;
  background-color: rgb(255, 186, 112);
  size: 30px;
}

.form-check-input:checked + .form-check-label, .btn-check:checked + .btn-outline-danger {
  background-color: lightblue; /* 選択時の背景色を変更 */
}



.form-check-input:checked + .form-check-label,
.form-check-label:hover { /* hover時のスタイルを追加 */
  background-color: lightblue;
}

.btn-outline-danger:hover { /* hover時のスタイルを追加 */
  background-color: lightblue;
}
.category{
  margin-left: 15px;
}

.subtitle{
  background-color: rgb(192, 182, 41);
}