/* デフォルトのマージンやパディングをリセット */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* リストスタイルをリセット */
  ol, ul {
    list-style: none;
  }
  
  /* リンクのデフォルトスタイルをリセット */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* 要素のテキストスタイルをリセット */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .main{
    height: 100vh;
  }
.site-title{
    width: 100%;
    background-color: rgb(211, 211, 42);
    height: 20%;
    display: flex;
    justify-content: space-between; /* 要素を左端、中央、右端に配置 */
}



    .counter{
        background-color: dodgerblue;
        width: 20%;
        
    }
    .main-title{
        background-color: grey;
        width: 60%;
    }
    .member-menu{
        background-color: goldenrod;
        width: 20%;
    }



.menus{
    width: 100%;
    height: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.side-menu{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
}
.main-menu{
    width: 80%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.post{
    width: 100%;
    height: 40%;
    background-color: coral;
}
.new{
    width: 100%;
    height: 60%;
    background-color: crimson;
}